/*Autor: Chládek Jakub*/
body{
background-color:#9df5a3;
}
#container
{
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;
}

#header
{
	 background:#333       ;
	padding: 20px;
  background-repeat:no-repeat
}

#header h1 { margin: 0; color:#fff}

#navigation
{
	float: left;
	width: 100%;
	background: #6bd400;
}
.ul.sub-menu {
    display:none;
}
#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	
}
#navigation li ul
{
	position:absolute ;
    left:0;
    top:40px; 
    width:200px;
/*Autor: Chládek Jakub*/	
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;

}

#navigation li a:hover { background: #333; }
#navigation a:focus,
#navigation a:active {
    color:rgb(50,50,50);
}

/* style sub level links */

/*Autor: Chládek Jakub*/
#navigation li li a {
    border-bottom:solid 1px rgb(200,50,50);
    margin:0 10px;
    padding:0;
}
#navigation li li:last-child a {
    border-bottom:none;
}

/* show arrows for dropdowns */
#navigation li.dropdown > a {
    background-image:url('img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

#navigation li li.dropdown > a {
    background-image:url('img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}

#content-container
{
	float: left;
	width: 100%;
  /*Autor: Chládek Jakub*/
	background: #fff;
}

#content
{
	
	float: right;
	width: 74%;
	padding: 5px 0;
	display: inline;
	height:auto;
	
  /*Autor: Chládek Jakub*/
    
}

#content h2 { margin: 0; }

#aside
{  
	clear:left;
	float: left;
	width: 15%;
	display: inline;
	padding: 5px 0;
	position:absolute;
	
}

#aside h2 { margin: 0; }

#footer
{
	clear: right;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}
/*Autor: Chládek Jakub*/